{% extends "layout.html" %}

{% block title %}

Books!Boooks!Books!

{% endblock %}

{% block body %}

<h1 class="head"> Welcome to Books!Books!Books! </h1>

<h4 class="head"> The Best Online Book Review Website</h4>


      <form action="{{ url_for('log') }}">
      <button class="btn btn-primary btn-lg" id="sub" type="submit">Log In</button>
      </form>
<p> </p>
      <form action="{{ url_for('sign') }}">
      <button class="btn btn-primary btn-lg" id="sub" type="submit">Sign Up</button>
      {% if message %}
      <div> {{ message }} </div>
      {% endif %}
      </form>


{% endblock %}
