{% extends "layout.html" %}

{% block title %}

Success!

{% endblock %}

{% block nav %}

<div class="display-flex">
  <h3 class="head nav-header">{{ nam2 }}</h3>
  <div class="dropdown">
    <div class="dropdown-content">
      <h3 class="nav-profile">
        {{ nam2 }}
      </h3>
      <div class="divider"></div>
      <a class="nav-links" href="{{ url_for('returns', username = nam3) }}">Home</a>
      <a class="nav-links" href="{{ url_for('logout') }}">LogOut</a>
    </div>
    <div class="dropdown-icon">
      <div class="item-1"></div>
      <div class="item-2"></div>
      <div class="item-3"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block body %}

<h3 class="head color-blue" style="font-weight: bold; margin-bottom: 40px; margin-top: 40px;"> You Have Logged into Books!Books!Books</h3>
<h4 class="head" style="margin-bottom: 50px;"> The Best Online Book Review Website</h4>

<div class="container my-4">

<div class="align-items-center justify-content-center">
<div class="container">
  <div class="row">
    <div class="col">
      <form action="{{ url_for('search', username = nam2) }}" method="post">
        <h4 class="head" style="font-weight: bold;">Enter key words to search for books(Author, Title, ISBN or Year published):</h4>
        <input class="form-control" autocomplete="off" type="text" name="key" placeholder="Search">
        <p></p>
        <button class="btn btn-primary btn-lg btn-block">Search for Books</button>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
